
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['line']});
    google.charts.setOnLoadCallback(drawChart);

    const drawChart = () => {
        let data = new google.visualization.DataTable();

        data.addColumn('string', 'Date');
        data.addColumn('number', 'Weight');

        data.addRows()

        const options = {
            chart: {
                title: 'Weight Loss Over Time'
            },
            width: 900,
            height: 500
        };


        const chart = new google.visualization.LineChart(document.getElementById('lineChart'));

        chart.draw(data, options);
    }
</script>

<body>
    <a href='/'>
        <button type="button" class="btn btn-success" id="overviewButton">Overview</button>
    </a>
    {{!-- {{#each allWeights as |weight|}}
        <div>{{weight}}</div>
    {{/each}} --}}
    <div>AllWeights: {{allWeights}}</div>
    <div>DataPoints: {{dataPoints}}</div>
    <div>Highest Weight: {{highestWeight}}</div>
    <div>Most Recently Reported: {{mostRecentlyReported}}</div>
    <div id="lineChart" style="width: 900px; height: 500px"></div>
</body>